.container
{
	display: grid;
	grid-column-gap: 5px;								/* Set column spacing */
	grid-row-gap: 5px;									/* Set row spacing */
	grid-gap: 5px;										/* Set both row and column spacing */
	grid-template-columns: 200px auto 300px;			/* 'auto' fills the remaining columns width */
	/* Making columns in terms of fraction */
	grid-template-columns: 1fr 6fr 1fr;					/* Fraction is relative to total grid width */
	grid-template-columns: 1fr auto 1fr;
	/* Making columns with repeat*/
	grid-template-columns: repeat(3, 300px);			/* repeat(number, width) --> creates 3 columns of 300px width */
	grid-template-columns: repeat(3, auto);				/* Creates 3 columns of equal widths */
	grid-template-columns: 200px 300px 100px;			/* Make 3 columns of specified width */	
	/* Make 1st three rows with specified fraction */
	grid-auto-rows: 3fr;								/* Set width for remaining unaffected rows */
	grid-template-rows: 1fr 6fr 1fr;					/* Fraction is relative to total grid height */
}
.box
{
	text-align: center;
	background-color: rgb(123, 176, 255);
}