*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.container
{
	background-color: rgb(255, 251, 240);
	width: 100%;
	height: 100vh;
}

.box
{
	width: 200px;
	margin: 20px auto;
	padding: 20px;
}
#box1
{
	border: 2px solid grey;
	border-radius: 5px;
	background-color: rgb(253, 218, 190);
	/* box-shadow: (x-value) (y-value) (blur) (spread) (color) */
	box-shadow: -5px 5px 5px grey;			/* Here, spread value is not used */
}
#box2
{
	border: 2px solid grey;
	border-radius: 5px;
	background-color: rgb(253, 218, 190);
	/* box-shadow: (x-value) (y-value) (blur) (spread) (color) */
	box-shadow: -5px 5px 5px 5px grey;		/* Spread value increases shadow area */	
}
#box3
{
	border: 2px solid grey;
	border-radius: 5px;
	background-color: rgb(253, 218, 190);
	/* inset sets the shadow to inside part of the box */
	box-shadow: inset 0px 0px 10px grey;		
}
#box4
{
	border: 2px solid grey;
	border-radius: 5px;
	background-color: rgb(253, 218, 190);
	/* Multiple shadows can be used at the same time */
	box-shadow: inset 0px 0px 10px rgb(192, 38, 0), -5px 5px 5px rgb(64, 201, 255);		
}
#box5
{
	border: 1px solid grey;
	border-radius: 5px;
	margin: 30px auto;
	padding: 20px;
}
p
{
	/* Same shadow principle as box-shadow for text-shadow */
	text-shadow: -3px 3px 3px grey;
}