*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* CSS Variables inside root element selector */
:root
{
	--space: 0px;
	--blur: 0px;
	--color: #36dfc8;
}
.container
{
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.space__box
{
	width: 80%;
	height: 80%;
	background-color: palegreen;
}
.box
{
	width: 200px;
	height: 200px;
	background-color: rgb(59, 193, 238);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--space);
}
.blur__box
{
	width: 200px;
	height: 200px;
	filter: blur(var(--blur));
}
.color__box
{
	width: 200px;
	height: 200px;
	background-color: var(--color);
}
.control
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.field
{
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}