// This is the actual SCSS that we write for ease.
// Then we will get our compiled CSS in "css" folder to use in HTML  
h1
{
	color: red;
	background-color: yellow;
}
p
{
	color: green;
	background-color: yellow;
	
}