*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container
{
	background-color: rgb(233, 176, 102);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box
{
	width: 200px;
	height: 200px;
	border: 1px solid white;
	border-radius: 5px;
	background-color: mediumorchid;
	/* Origin is similar to anchor point in After Effects */
	transform-origin: 0 0;			/* Origin at top-left corner */
	transform-origin: left;
	transform-origin: top right;
	transform-origin: bottom right;
	transform-origin: bottom left;
	transform-origin: 10px 10px;	/* Don't use origin value in brackets like: (x, y) */
	transform-origin: center;
	/* Here, only one transform property applies at a time */
	transform:skew(50deg);
	transform: scale(1.5);
	transform: scaleX(1.5);					/* Scale in X-axis */
	transform: scaleY(1.5);
	/* Scale in both axis individually */
	transform: scale(1, 1.5);
	transform: translateX(200px);
	transform: translateY(200px);
	transform: translate(200px, 200px);
	transform: rotate(45deg);
	transform: rotateX(45deg);
	transform: rotateY(45deg);
	transform: rotateZ(45deg);				/* Default rotation axis */
	/* Use multip[le properties at same line to apply all at once */
	transform: rotate(60deg) scale(2);
}