*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Define global variables inside :root */
:root
{
	/* CSS variables can have any data type( CSS Properties) */
	--primaryColor: rgb(1, 86, 165);			/* Always put '--' before variable name */
	--secondaryColor: burlywood;
	--backColor: rgb(147, 228, 72);
}
.container
{
	width: 100%;
	height: 100vh;
	/* Acces the variable using 'var(variable_name)' */
	background-color: var(--secondaryColor);
}
.box
{
	color: var(--primaryColor);
	background-color: var(--backColor);
}
#box1
{
	/* Defining local variables inside the scope */
	--brightColor: white;
	--myFirstFont: 24px;
	color: var(--brightColor);
	font-size: var(--myFirstFont);
}
#box2
{
	/* color: var(--brightColor); */		/* This variable will not work outside the scope */
	--myRedColor: rgb(216, 1, 1);
	color: var(--myRedColor);
}