body
{
	background-color: #ffc600;
	font-family: helvetica;
	font-weight: 200;
	font-size: 20px;
}

.words
{
	max-width: 500px;
	margin: 50px auto;
	background-color: white;
	border-radius: 5px;
	box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
	padding: 1rem 2rem 1rem 5rem;
	position: relative;
	line-height: 3rem;
}
p
{
	margin: 0 0 1rem;
}
.words::before
{
	content: "";
	position: absolute;
	width: 4px;
	top: 0;
	left: 30px;
	bottom: 0;
	border: 1px solid;
	border-color: #efe4e4;
}