/* Using repeat(auto-fit, minmax(width, 1fr), the grid system becomes responsive and adjusts column number automatically */
.container
{
	display: grid;
	border: 2px solid grey;
	grid-gap: 5px;										
	/* In repeat(), 'auto-fit' automatically adjusts column number. */
	/* In minmax(), '200px' is minumum width and '1fr' is the maximum width(i.e; width of entire grid) */
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));				
}
.box
{
	text-align: center;
	background-color: rgb(123, 176, 255);
}
