.row {
    max-width: 1440px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both; 
}
.col {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.col1 {
    width: 8.33%;
}

.col2{
    width: 16.66%;
}

.col3{
    width: 24.99%;
}

.col4 {
    width: 33.33%;
}

.col5 {
    width: 41.65%;
}

.col6 {
    width: 49.98%;
}

.col7 {
    width: 58.31%;
}

.col8 {
    width: 66.66%;
}

.col9 {
    width: 74.97%;
}

.col10 {
    width: 83.30%;
}

.col11 {
    width: 91.63%;
}

.col12 {
    width: 100%;
}