/* NOTE: 
	- Set the parent position to relative
	- Set the child position to absolute
	- Now, control child position with respect to parent
*/


.box {
	height: 400px;
	width: 400px;
	background-color: burlywood;
	position: relative;
  }
  #c1 {
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;
	top: 10px;
	left: 10px;
  }
  #c2 {
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;
	top: 10px;
	right: 10px;
  }
  #c3 {
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;
	bottom: 10px;
	left: 10px;
  }
  #c4 {
	height: 100px;
	width: 100px;
	background-color: red;
	position: absolute;
	bottom: 10px;
	right: 10px;
  }
  