body
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: antiquewhite;
}
.voiceinator
{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	border-radius: 10px;
	background-color: white;
	padding: 25px;
	gap: 10px;
}
#voice
{
	width: 90%;
	height: 40px;
}
/* Selects only input having attribute of type="range" */
input[type="range"]
{
	width: 90%;
}
#text__info
{
	min-height: 100px;
	width: 90%;
}
#btn
{
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#stop, #speak
{
	width: 100px;
	height: 40px;
	background-color:aquamarine;
	color: black;
	border-color: transparent;
	border-radius: 5px;
}
#stop:hover, #speak:hover
{
	cursor: pointer;
}



