*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.box
{
	border: 2px solid red;
	height: 120px;
	margin: 30px;
	padding: 20px;
	display: none;
}
/* Using media query. 'only screen' means the media query is for digital screen only. */
@media only screen and (max-width: 376px)				/* Here, 'and' is a logical operator */
{
	/* The following CSS style is applied if above condition is true */
	#box1
	{
		display: block;
		background-color: purple;
	}
}
@media only screen and (min-width: 376px) and (max-width: 800px)
{
	#box2
	{
		display: block;
		background-color: lightskyblue;
	}
}
@media only screen and (min-width: 800px) and (max-width: 1280px)
{
	#box3
	{
		display: block;
		background-color: lightsalmon;
	}
}
@media only screen and (min-width: 1280px)
{
	#box4
	{
		display: block;
		background-color: lightseagreen;
	}
}