// Importing variables from partials using "@use"
@use "theme";
// @use "theme" as th;				// Allows 'th.$var_name'
// @use "theme" as *;				// Allows '$var_name'

// Making variabel in the same file
$bg-color: grey;					// Variable name starts with "$"
$primary-color: red;

h1
{
	background-color: $bg-color;
	color: $primary-color;
}
p
{
	background-color: theme.$bg-color-bright;
	color: theme.$secondary-color;
}