*
{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
.container
{
	margin: 20px;
}
#box1
{
	width: 100px;
	height: 100px;
	border: 2px solid red;
	background-color: red;
	display: none;					/* Completely removes the element from the viewport and removes space*/
}
#box2
{
	width: 100px;
	height: 100px;
	border: 2px solid red;
	background-color: blue;
	visibility: hidden;				/* Just hides the element from the viewport and keeps space */
}
#box3
{
	width: 100px;
	height: 100px;
	border: 2px solid red;
	background-color: yellow;
	position: relative;
	/* z-index only works with position set to absolute, relative, sticky or fixed.(Not with default static) */
	z-index: 20;	
}
#box4
{
	width: 100px;
	height: 100px;
	border: 2px solid red;
	background-color: green;
	position: relative;
	top: -80px;
	/* This box intersects with box3 ,but box3 has higher z-index. So, box3 will be at top layer */
	z-index: 19;
}