/* Set scroll to mandatory in parent section */
/* Here, html is the root.So we set it to it */
html
{
	scroll-snap-type: y mandatory;
}
.box
{
	height: 4000px;
	/* Actually, direct parent can have the scroll set to mandatory */
	/* scroll-snap-type: y mandatory; */
}
/* For the specific child to have scroll snap, set scroll snap align to start, center or end.  */
.square
{
	height: 600px;
	width: 600px;
	background-color: red;
	scroll-snap-align: center;
	margin: 100px;
}